################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Tests/TfsQuickTasks_IntegrationTests/bin/Debug
/src/Tests/TfsQuickTasks_IntegrationTests/obj/Debug
/src/Tests/TfsQuickTasks_UnitTests/bin/Debug
/src/Tests/TfsQuickTasks_UnitTests/obj/Debug
